@font-face {
	src:url("./BauhausBoldC.otf");
	font-family:"Bauhaus Bold";
}
rect {
	width:100%;
	height:100%;
}
text {
	fill:#ea4c89;
	font-family: "Bauhaus Bold";
	font-size: 120pt;
}
#thanks {
	fill:#9da3a5;
	font-size: 36pt;
}
svg {
	background-color: #333333;
}